html{
  background: #004643;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background: #004643;
  font-family: Inter, system-ui;
}
h1, h2, h3, h4{
  color: #fffffe;
}
p {
  color: #e8e4e6;
}
#main{
  color: #e8e4e6;
}

#header_tag{
  text-align: left !important;
}

#left, #right {
    width: 50%; /* Each div takes up 50% of the width */
    padding: 10px;
    text-align: center;
}
#main_homepage{
  margin: 0;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
  .left, .right {
    width: 50%; /* Each div takes up 50% of the width */
    padding: 10px;
    text-align: center;
  }
}
